* {
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.todo,
.inProgress,
.underReview,
.finished {
  border: 1px solid black;
  border-bottom: none;
  padding: 5px;
}

.todo {
  background-color: #7bd3ea;
}

.inProgress {
  background-color: #f6d6d6;
}

.underReview {
  background-color: #f6f7c4;
}

.finished {
  background-color: #a1eebd;
}

.error {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.todo h2,
.inProgress h2,
.underReview h2,
.finished h2 {
  text-align: center;
  text-decoration: underline;
  width: 100%;
  margin-bottom: 5px;
  /* border-bottom: 1px solid black; */
}

.mediumPriority {
  border-radius: 5px;
  padding: 2px 5px;
  color: white;
  width: fit-content;
  background-color: orange;
}

.highPriority {
  border-radius: 5px;
  padding: 2px 5px;
  color: white;
  width: fit-content;
  background-color: red;
}

.lowPriority {
  border-radius: 5px;
  padding: 2px 5px;
  color: white;
  width: fit-content;
  background-color: green;
}

.todoTaskList,
.inProgressTaskList,
.underReviewTaskList,
.finishedTaskList {
  height: 94.7vh;
  overflow: scroll;
}

.task {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
}

.task:hover {
  cursor: pointer;
}

.date {
  padding-top: 5px;
}

.metaData {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.addToDoTask {
  position: fixed;
  left: 50px;
  bottom: 55px;
}

.addTodoButtons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  bottom: 55px;
}

.addTodoButtons button {
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  font-size: medium;
  background-color: #ff9d3d;
  border-radius: 10px;
}


.addTodoButtons button:hover {
  cursor: pointer;
}

h3 {
  margin-bottom: 2px;
}

.saveBtnDiv {
  text-align: center;
}

.editBtn {
  padding: 4px 6px 0px 6px;
  color: blue;
  border: none;
  text-decoration: underline;
  background-color: white;
  margin-top: 4px;
  border-radius: 5px;
}

.saveBtn {
  padding: 7px 10px;
  font-size: medium;
  background-color: #ff9d3d;
  border-radius: 10px;
}

.saveBtn:hover {
  cursor: pointer;
}

input,
select {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
